#box{
        margin-left: 20px;
        width: 1530px;
    }
.divSetingStr {
        width: 720px;
        height: 400px;
        display: inline-block;
        margin-left: 10px;
        background-color: gold
    }