*   {
    margin: 0px;
    padding: 0px;
    }
#box{
        margin:0 auto;
        height: auto;
        background-color: #4cae4c;
    }
.main {
        height: 400px;
        position: relative;
        float: left;
        margin-left: 10px;
        background-color: gold;
        padding: 10px;
        border: 1px solid #cccccc;
        box-shadow: 0 0 5px #cccccc;
        border-radius: 5px;
    }