*   {
    margin: 0px;
    padding: 0px;
    }
#box{
        margin:0 auto;
        height: 1000px;
        /*background-color: #4cae4c;*/
    }
.main {
        height: 400px !important;
        position: relative;
        display: inline-block !important;
        float: left;
        margin-left: 10px;
        margin-top: 10px;
        background-color: gold !important;
        padding: 10px;
        border: 1px solid #cccccc;
        box-shadow: 0 0 5px #cccccc;
        border-radius: 5px;
    }