*   {
    margin: 0px;
    padding: 0px;
    }
#main{
        margin:0 auto;
        height: 500px;
    }
#image {
        display: inline-block!important;
        float: left;
    }
#box {
        margin-left: 10px;
        display: inline-block;
        float: left;
        background-color: #4cae4c;
        padding: 10px;
        border: 1px solid #cccccc;
        box-shadow: 0 0 5px #cccccc;
        border-radius: 5px;

    }
#earth{
        padding: 10px;
        border: 1px solid #cccccc;
        box-shadow: 0 0 5px #cccccc;
        border-radius: 5px;
    }